<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>grade</mat-icon>
    <mat-card-title>Ode to food</mat-card-title>
    <mat-card-subtitle>In memory of K. Scott Allen</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            More about caching
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <b>AssetGroups:</b> <a href="https://angular.io/guide/service-worker-config#assetgroups">https://angular.io/guide/service-worker-config#assetgroups</a>
        </p>
        <p>
          <b>DataGroups:</b> <a href="https://angular.io/guide/service-worker-config#datagroups">https://angular.io/guide/service-worker-config#datagroups</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" (click)="loadTimeLine()">
      <mat-icon>restaurant_menu</mat-icon>Latest recipes
    </button>
    <button mat-button color="accent" (click)="loadFavorites()">
      <mat-icon>book</mat-icon>Grandma's cookbook
    </button>
  </mat-card-actions>
  <mat-card-content>
    <div *ngIf="recipes$ | async; let recipes; else: loading">
      <app-recipe-list [recipes]="recipes"></app-recipe-list>
    </div>

    <ng-template #loading>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isInteractionStarted"
      ></mat-progress-bar>
    </ng-template>
  </mat-card-content>
</mat-card>
